@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f0f0f0;
	color: #1c1b21;
}

body.dark {
	background-color: #070707;
	color: #f9f9f9;
}

input:focus {
	outline: 3px solid #a2d2ff77;
}